*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00ced1;
    position: relative;
}

nav{
    width: 100vw;
    height: 10vh;
    background-color: #d1d1d1;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    width: 100vw;
    height: 10vh;
    background-color: #d1d1d1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario{
    border: 2px solid black;
    padding: 5vw;
    border-radius: 25px;
    background-color: #d1d1d1;
    display: flex;
    flex-direction: column;
}

.form-input{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-input label{
    font-size: 18px;
    font-weight: 600;
}

.form-input input{
    font-size: 18px;
    font-weight: 500;
    background-color: #d1d1d1;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.btn{
    background-color: #00ced1;
    padding: 1vh 1vw;
    border-radius: 10px;
}

#alertaBox{
    position: absolute;
    bottom: 30px;
    right: 0;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
    
}
@keyframes sairCantoDireito {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}


.alerta{
    width: 400px;
    height: 80px;
    background-color: rgba(255, 255, 255, 1);
    font-weight: 500;
    margin: 15px 30px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    position: relative;
    animation: changeBackgroundColor 15s forwards;
    animation: sairCantoDireito 1s forwards;
}

.alerta i{
    margin: 0 20px;
    font-size: 35px;
    color: red;
}

.alerta::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: red;
    animation: anim 4s linear forwards;
}
@keyframes anim {
    100%{
        width: 0;
    }
}

@keyframes changeBackgroundColor {
    100% {
        background-color: rgba(255, 255, 255, 0);
    }
}

.msg{
    border: 2px solid black;
    padding: 5vw;
    border-radius: 25px;
    background-color: #d1d1d1;
    display: flex;
    flex-direction: column;
    align-items: center;
}